.container {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--secondary-background);
}

.card {
  width: 400px;
  padding: 40px;

  background-color: var(--primary-background);
  border-radius: 6px;
  box-shadow: 0 0 10px 2px var(--primary-background);

  transition: box-shadow 0.2s;
}

.card:hover {
  box-shadow: 0 0 15px 2px var(--primary-background);
}

.h2 {
  margin-bottom: 20px;

  color: var(--secondary-text);

  font-size: 24px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  user-select: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.primaryButton {
  position: relative;

  height: 50px;
  margin-top: 20px;

  background: linear-gradient(90deg, #54d1db, #044e54, #54d1db);
  background-size: 400%;
  color: var(--primary-text);
  border-radius: 6px;

  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  z-index: 1;
}

.primaryButton:hover {
  animation: animate 4s linear infinite;
}

.primaryButton:focus {
  outline: none;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.primaryButton:before {
  content: "";

  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;

  background: linear-gradient(90deg, #54d1db, #044e54, #54d1db);
  background-size: 400%;
  border-radius: 6px;
  opacity: 0;

  transition: 0.5s;

  z-index: -1;
}

.primaryButton:hover:before {
  filter: blur(10px);
  opacity: 1;
}

.primaryButton:focus:before {
  filter: blur(10px);
  opacity: 1;
}
