.container {
  background-color: #2cb1bc;
  height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 6px;
  width: 400px;
  padding: 40px;
  box-shadow: 0 0 10px 2px w#fff;
  transition: box-shadow 0.2s;
}

.card:hover {
  box-shadow: 0 0 15px 2px #fff;
}

.h2 {
  color: #27241d;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  user-select: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.primaryButton {
  position: relative;
  font-weight: 500;
  height: 50px;
  font-size: 18px;
  letter-spacing: 1.5px;
  background-color: #044e54;
  color: #e0fcff;
  text-transform: uppercase;
  margin-top: 20px;
  border-radius: 6px;
  background: linear-gradient(90deg, #54d1db, #044e54, #54d1db);
  background-size: 400%;
  z-index: 1;
}

.primaryButton:hover {
  animation: animate 4s linear infinite;
}

.primaryButton:focus {
  outline: none;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.primaryButton:before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: -1;
  border-radius: 6px;
  background: linear-gradient(90deg, #54d1db, #044e54, #54d1db);
  background-size: 400%;
  opacity: 0;
  transition: 0.5s;
}

.primaryButton:hover:before {
  filter: blur(10px);
  opacity: 1;
}

.primaryButton:focus:before {
  filter: blur(10px);
  opacity: 1;
}
